body {
    font-size: 16px;
	width: 100%;
	background: url('../images/wood.jpeg') center center;
	background-repeat: repeat;
	position: fixed;
}

li {
	list-style: none;
	font-family: 'Handlee', cursive;
	font-size: 1.5em;
}
li span {
	padding-left: 1em;
}
h1 {
	margin: 0;
	padding-top: 0.5em;
	font-size: 3.5em;
	font-weight: bold;
	font-family:'Oleo Script', Helvetica, sans-serif;
}
.main {
	text-align: center;
	background-color: white;
	width: 90%;
	height: 600px;
	margin: 3em auto;
	position: relative;
	overflow: scroll;
}
/*
.main::before {
    box-shadow:  5px 5px 10px rgba(0,   0,   0,   0.100); 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}
*/
.add-item {
	margin-left: 1em;
	border-radius: 1em;
	background-color: white;
	padding: 0 15px;
	vertical-align: bottom;
}
.add-item:hover {
	box-shadow: inset 0 0 0 #27496d,0 4px 4px #193047;
}
.add-item:active {
	background-color: #aaa;
	color: white;
}
input[type=text] {
	font-size: 1.1em;
	height: 1.6em;
}
.list-items li {
    max-width: 50%;
    padding: 15px;
    border: 1px solid gray;
    text-align: left;
    background-color: #efe;
    margin: 0 auto;
}
.delete, .rename {
	float: right;
	border: none;
	background-color: #efe;
}
.fa-ban {
	color: red;
}
.fa-pencil {
	color: blue;
}
}
.fa-ban:hover {

}
.checked {
	text-decoration: line-through;
	font-weight: bold;
	color: #999;
}
.list-items li:hover {
  box-shadow: inset 0 0 0 #27496d,0 5px 15px #193047;