
/* General Page Rules for Layout and Design*/
body {
    font-size: 16px;
	width: 100%;
	background: url('../images/wood.jpeg') center center;
	background-repeat: repeat;
	position: fixed;
}

ul {
	margin: 1em 0 0;
	padding: 0;
}

li {
	list-style: none;
	font-family: 'Handlee', cursive;
	font-size: 1.5em;
}

li span {
	padding-left: 1em;
}

h1 {
	margin: 0;
	padding-top: 0.5em;
	font-size: 3.5em;
	font-weight: bold;
	font-family:'Oleo Script', Helvetica, sans-serif;
}

/* Main container Div Layout and Design */
.main {
	text-align: center;
	background-color: white;
	width: 90%;
	height: 600px;
	margin: 3em auto;
	position: relative;
	overflow: scroll;
}

/* Add Item button Layout and Design*/
.add-item {
	margin-left: 1em;
	border-radius: 1em;
	background-color: white;
	padding: 0 15px;
	vertical-align: bottom;
}

.add-item:hover {
	box-shadow: inset 0 0 0 #27496d,0 4px 4px #193047;
}

.add-item:active {
	background-color: #aaa;
	color: white;
}

/* Input Text Design */

input[type=text] {
	font-size: 1.1em;
	height: 1.6em;
}

/* Li layout and design */

.list-items li {
    width: 70%;
    padding: 15px;
    border: 1px solid gray;
    text-align: left;
    background-color: #eee;
    margin: 0 auto;
}
.checked {
	text-decoration: line-through;
	font-weight: bold;
	color: #999;
}
.list-items li:hover {
  box-shadow: inset 0 0 0 #27496d,0 5px 15px #193047;
}

/* Button Layout and Design */
.buttons button {
	border: none;
	background-color: #eee;
}
.buttons button:hover {
	transform: scale(1.2);
}
.buttons {
	float: right;
}
.fa-ban {
	color: red;
}
.fa-pencil {
	color: blue;
}


/* Responsive Design Layout and Design*/

@media screen and (max-width: 1000px) {
	.list-items li {
		width: 90%;
	}
}

@media screen and (max-width: 650px) {
	.main {
		width: 98%;
	}
	.list-items li {
		width: 95%;
		padding: 5px 0 0 5px;
	}
	.buttons {
		float: none;
		margin-left: 1em;
		padding: 0;
}
	.buttons button:hover {
		transform: none;
	}
	li span {
		padding-left: 8px;
	}
}
@media screen and (max-width: 450px) {
	li {
		font-size: 1.25em;
	}
}
@media screen and (max-width: 350px) {
	li {
		font-size: 1em;
	}
	h1 {
		font-size: 3em;
	} 
	.add-item {
		display: block;
		margin: 0.5em auto;
	}
}
@media screen and (max-width: 280px) {
	h1 {
		font-size: 2.5em;
	}
}


